@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-bubble {
    white-space: pre-line;
}

.animated-background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    15% {
        background-position: 25% 25%;
    }
    30% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 75% 75%;
    }
    65% {
        background-position: 100% 50%;
    }
    80% {
        background-position: 25% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
